body{
    background-color: lightgreen;
}

.authelech1{
    background-color: aqua;    
}

.authmunicipal1{
    background-color:burlywood;    
}

.authit1{
    background-color:lightgray;    
}



.issuesubmit{
    background: linear-gradient(#fa4b37, #df2771);
    color: white;
    font-size: 20px;
    border:none;
}